@font-face {
    font-family: 'Consolas';
    src: url("./fonts/consolas.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: black;
}

code {
  color:white;
  font-family: Consolas;
  font-size: 2.5rem;
  text-shadow: #00e7ff 0 0 5px;
}

a, #joke {
  text-decoration: none;
  color: #00e7ff;
  cursor: pointer;
}

a:hover, #joke:hover  {
  color: #0bff00;
  text-shadow: #0bff00 0 0 5px;
}

#writehere {
  color: yellow;
  text-shadow: yellow 0 0 5px;
}

main {
  display: flex;
  flex-direction: column;
}

.underscore {
  color: white;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 100%
  }
  50% {
    opacity: 0%
  }
  100% {
    opacity: 100%
  }
}
